.category-list-container {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    display: none;
}

.category-list-item-t {
    height: 9rem;
    background-size: cover;
    width: 9rem;
    margin: 0.1rem 1rem;
}

.category-list-item-name {
    position: relative;
    top: 3rem;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
}

.category-list-item-t:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.category-list-item-t:active {
    opacity: 0.5;
    filter: alpha(opacity=50);
}