.actions-container {
    display: flex;
    justify-content: space-between;
}

.product-list-item-t {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-style: solid;
    margin: 10px;
}


.product-list-item-t:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.product-list-item-t:active {
    color: blue;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.items-container {
    width: 100%;
    height: 80%;
}