<div class="box">
  <div class="container">
    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
      <img
        class="card-img-top"
        src="assets/general/vendei_shopping_cart.png"
        alt="Cart"
        style="width: 18rem; height: 10rem;"
      />
      <div class="card-body">
        <h5 class="card-title">Shopping cart</h5>
        <p class="card-text">Sell products</p>
        <a href="/" class="btn btn-primary">Go Shopping Cart</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
      <img
        class="card-img-top"
        src="assets/general/clothing.jpg"
        alt="Reports"
        style="width: 18rem; height: 10rem;"
      />
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">Register, Edit Products</p>
        <a href="/reg/products" class="btn btn-primary">Go products</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
      <img
        class="card-img-top"
        src="assets/general/reports.png"
        alt="Reports"
        style="width: 18rem; height: 10rem;"
      />
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <p class="card-text">Product sell reports</p>
        <a href="/rep/products" class="btn btn-primary">Go reports</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
      <img
        class="card-img-top"
        src="assets/general/inventory.jpg"
        alt="Reports"
        style="width: 18rem; height: 10rem;"
      />
      <div class="card-body">
        <h5 class="card-title">Inventory</h5>
        <p class="card-text">Inventory of products</p>
        <a href="/inv/products" class="btn btn-primary">Go inventory</a>
      </div>
    </div>

  </div>
</div>
