<div class="box">
  <div class="container">
    <div class="card" style="width: 18rem; display: inline-block;">
      <img
        class="card-img-top"
        src="https://raw.githubusercontent.com/kapit4n/ng-vendei/master/mockups/vendei_shopping_cart_004.png"
        alt="Cart"
        style="width: 18rem;"
      />
      <div class="card-body">
        <h5 class="card-title">Shopping cart</h5>
        <p class="card-text">Sell products</p>
        <a href="/" class="btn btn-primary">Go Shopping Cart</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block;">
      <img
        class="card-img-top"
        src="https://reliableacademy.com/assets/media/upload/latest-updates/bank-ssc-rly-update/list-of-reports-published-by-different-organizations/reports.png"
        alt="Reports"
        style="width: 18rem;"
      />
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">Product reports</p>
        <a href="/rep/products" class="btn btn-primary">Go products</a>
      </div>
    </div>
  </div>
</div>
