<div style="width: 30%; height: 150px; display: inline-block;">
  <div style="width: 100%;">
    <div *ngIf="payedItems.length > 0">
      <span i18n>Payment:</span>
      <span *ngFor="let payI of payedItems" (click)="removeItem(payI)"><img [src]="payI.img" height="20" alt=""></span>
    </div>

    <div *ngIf="returnItems.length > 0">
      <span i18n>Return:</span>
      <span *ngFor="let payI of returnItems" (click)="removeItem(payI)"><img [src]="payI.img" height="20" alt=""></span>
    </div>

    <div *ngIf="discountItems.length > 0">
      Discount:
      <span *ngFor="let payI of discountItems" (click)="removeItem(payI)">{{payI.name}};</span>
    </div>

    <div>
      Customer: {{selectedCustomer.name}} <br />
      CI: {{selectedCustomer.ci}}
    </div>
    <button mat-raised-button (click)="openDialog()">Select Customer</button>
  </div>
</div>
<div style="width: 70%; height: 150px; display: inline-block;">

  <span *ngIf="payTypeLabel == 'PAYMENT'">Payment:</span>
  <span *ngIf="payTypeLabel == 'DISCOUNT'">Discount:</span>
  <span *ngIf="payTypeLabel == 'RETURN'">Return:</span>

  <div class="payment-item" *ngFor="let payItem of payItems">
    <button mat-raised-button (click)="payIt(payItem, payType)"  color="primary">{{payItem.name}}
      <span *ngIf="displayCurrentType">{{currentType}}</span>
    </button>
  </div>
  <br />
  <div class="payment-action"><button mat-raised-button (click)="discount()" *ngIf="false">Disc</button></div>
  <div class="payment-action"><button mat-raised-button (click)="returnMoney()" i18n>Return</button></div>
  <div class="payment-action"><button mat-raised-button (click)="payMoney()" i18n>Payment</button></div>
</div>